@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';

.header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 1;
}

.logoWrap {
  margin-left: 39px;
}
