@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';
@import 'styles/mixins.scss';

.destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(md-up) {
    flex-direction: row;
  }

  & .destinationCTA {
    text-transform: uppercase;
  
    &::before {
      width: 100%;
      margin-right: 28px;
      line-height: math.div(34, 28);
      content: '01';
      opacity: 0.25;
    }
  }
}

.destinationList {
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
