@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';
@import 'styles/mixins.scss';

.mobileNav {
  display: block;
  position: absolute;
  right: 0;
  width: 254px;
  height: 100%;
  transform: translateX(200%);
  transition: transform $transition-duration-standard, display $transition-duration-standard;
  background: #ffffff0a;
  color: $color-white;
  z-index: 2;
  backdrop-filter: blur(81.5485px);

  @include breakpoint(md-up) {
    display: none !important;
  }

  &__active {
    // width: 100%;
    transform: translateX(0%);
  }
}

.mobileNavList {
  @include listReset;
}
