@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';
@import 'styles/mixins.scss';

.mobileNav {
  @include listReset;

  display: none;
  position: absolute;
  transform: translateX(125%);
  transition: transform $transition-duration-standard, display $transition-duration-standard;
  background: #ffffff0a;
  z-index: 10;
  backdrop-filter: blur(81.5485px);

  @include breakpoint(md-up) {
    display: none !important;
  }

  &__active {
    display: block;
    // width: 100%;
    transform: translateX(0%);
  }
}
