@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';
@import 'styles/mixins.scss';

.mobileNav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px 26px;
  transform: translateX(200%);
  transition: transform $transition-duration-standard, display $transition-duration-standard;
  background: #ffffff0a;
  color: $color-white;
  z-index: 20;
  backdrop-filter: blur(81.5485px);

  @include breakpoint(md-up) {
    display: none !important;
  }

  &__active {
    width: 254px;
    transform: translateX(0%);
  }
}

.mobileNavList {
  @include listReset;
}

.mobileNavListLink {
  color: $color-white;
  cursor: pointer;
}

.mobileNavBtnItem {
  margin-bottom: 35px;
  text-align: right;
}

.mobileNavBtn {
  @include buttonReset;

  color: white;
  cursor: pointer;
}

.mobileNavListItem {
  @include secondary-font;

  position: relative;
  margin-bottom: 32px;
  font-size: rem(16px);
  font-weight: 700;
  letter-spacing: 2.7px;
  line-height: math.div(19, 16);

  &::after {
    display: block;
    position: absolute;
    top: 25%;
    right: -39px;
    width: 0px;
    transform: translateY(0%) rotate(90deg);
    transition: border-bottom $transition-duration-standard, 
    width $transition-duration-standard;
    content: '';
  }
  
  &:hover::after {
    border-bottom: 3px solid white;
    width: 31px;
  }
}

.mobileNavListItemText {
  margin-left: 11px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.88;
}
