@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';

.layout {
  // write url conditional to render bg by slug.
  height: 100vh;
  background: url('/assets/home/background-home-mobile.jpeg') center no-repeat;
  background-size: cover !important;
  overflow-x: hidden;

  @include breakpoint(sm-up) {
    background: url('/assets/home/background-home-tablet.jpeg') center no-repeat;
  }

  @include breakpoint(md-up) {
    // padding-bottom: 0;
    background: url('/assets/home/background-home-desktop.jpeg') center no-repeat;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(md-up) {
    padding: 0 165px;
  }
}
