@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';
@import 'styles/mixins.scss';

.mobileNavToggle {
  margin-right: 24px;
  cursor: pointer;

  @include breakpoint(md-up) {
    display: none;
  }
}

.mobileNavToggleBtn {
  @include buttonReset();
}
