@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';
@import 'styles/mixins.scss';

.mobileNavToggle {
  cursor: pointer;
  grid-column: 4/5;
  justify-self: end;

  @include breakpoint(md-up) {
    display: none;
  }
}

.mobileNavToggleBtn {
  @include buttonReset();
}
