@use 'sass:math';

@import 'styles/variables.scss';
@import 'styles/typography.scss';
@import 'styles/grid.scss';
@import 'styles/mixins.scss';

.crew {

  & .crewCTA {
    text-transform: uppercase;
    align-self: flex-start;

    @include breakpoint(md-down) {
      align-self: center;
    }
    
    &::before {
      width: 100%;
      margin-right: 28px;
      line-height: math.div(34, 28);
      content: '02';
      opacity: 0.25;
    }
  }
}
